<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="plugSettings" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  
  <plugSettings>
    <!-- Valid entries -->
    <add key="TestPlugin_String" value="some string"/>
    <add key="TestPlugin_Int16" value="32767"/>
    <add key="TestPlugin_Int32" value="1"/>
    <add key="TestPlugin_Int64" value="987654321"/>
    <add key="TestPlugin_Decimal" value="0.123"/>
    <add key="TestPlugin_Double" value="2.123"/>
    <add key="TestPlugin_Single" value="1.23"/>
    <add key="TestPlugin_Boolean" value="true"/>
    <add key="TestPlugin_StringList" value="a,b,c"/>
    <add key="TestPlugin_IntegerArray" value="1,2,3,4"/>
    <add key="TestPlugin_ArrayList" value="a,b,c"/>
    <add key="TestPlugin_Enumeration" value="outbound"/>
    <add key="TestPlugin_StringCustomLoadMethod" value="10.88.22.95:40007"/>
    <add key="TestPlugin_Encrypted" value="|0|ZOe8+Mms9XI="/>
    <add key="TestPlugin_UInt16" value="32767"/>
    <add key="TestPlugin_UInt32" value="1"/>
    <add key="TestPlugin_UInt64" value="987654321"/>
    <add key="TestPlugin_EnumerableStringList" value="a,b,c"/>

    <!-- Invalid entries -->
    <add key="TestPluginFail_String" value=""/>
    <add key="TestPluginFail_Int16" value="32768"/>
    <add key="TestPluginFail_Int32" value="1x"/>
    <add key="TestPluginFail_Int64" value="Int64"/>
    <add key="TestPluginFail_Decimal" value="0.123q"/>
    <add key="TestPluginFail_Double" value="x2.123"/>
    <add key="TestPluginFail_Single" value="y1.23"/>
    <add key="TestPluginFail_Boolean" value="truefalse"/>
    <add key="TestPluginFail_StringList" value="a,b,"/>
    <add key="TestPluginFail_IntegerArray" value="1,2,3,d"/>
    <add key="TestPluginFail_ArrayList" value="a,b,c"/>
    <add key="TestPluginFail_Enumeration" value="otbound"/>
    <add key="TestPluginFail_StringCustomLoadMethod" value="10.88.22.95"/>
    <add key="TestPluginFail_Encrypted" value=""/>
    <add key="TestPluginFail_UInt16" value="-32768"/>
    <add key="TestPluginFail_UInt32" value="-1"/>
    <add key="TestPluginFail_UInt64" value="-2"/>
    <add key="TestPluginFail_EnumerableStringList" value="a,b,"/>
  </plugSettings>

  <appSettings>
    <!-- Valid entries -->
    <add key="TestPlugin_String" value="some string"/>
    <add key="TestPlugin_Int16" value="32767"/>
    <add key="TestPlugin_Int32" value="1"/>
    <add key="TestPlugin_Int64" value="987654321"/>
    <add key="TestPlugin_Decimal" value="0.123"/>
    <add key="TestPlugin_Double" value="2.123"/>
    <add key="TestPlugin_Single" value="1.23"/>
    <add key="TestPlugin_Boolean" value="true"/>
    <add key="TestPlugin_StringList" value="a,b,c"/>
    <add key="TestPlugin_IntegerArray" value="1,2,3,4"/>
    <add key="TestPlugin_ArrayList" value="a,b,c"/>
    <add key="TestPlugin_Enumeration" value="outbound"/>
    <add key="TestPlugin_StringCustomLoadMethod" value="10.88.22.95:40007"/>
    <add key="TestPlugin_Encrypted" value="|0|ZOe8+Mms9XI="/>
    <add key="TestPlugin_UInt16" value="32767"/>
    <add key="TestPlugin_UInt32" value="1"/>
    <add key="TestPlugin_UInt64" value="987654321"/>
    <add key="TestPlugin_EnumerableStringList" value="a,b,c"/>

    <!-- Invalid entries -->
    <add key="TestPluginFail_String" value=""/>
    <add key="TestPluginFail_Int16" value="32768"/>
    <add key="TestPluginFail_Int32" value="1x"/>
    <add key="TestPluginFail_Int64" value="Int64"/>
    <add key="TestPluginFail_Decimal" value="0.123q"/>
    <add key="TestPluginFail_Double" value="x2.123"/>
    <add key="TestPluginFail_Single" value="y1.23"/>
    <add key="TestPluginFail_Boolean" value="truefalse"/>
    <add key="TestPluginFail_StringList" value="a,b,"/>
    <add key="TestPluginFail_IntegerArray" value="1,2,3,d"/>
    <add key="TestPluginFail_ArrayList" value="a,b,c"/>
    <add key="TestPluginFail_Enumeration" value="otbound"/>
    <add key="TestPluginFail_StringCustomLoadMethod" value="10.88.22.95"/>
    <add key="TestPluginFail_Encrypted" value=""/>
    <add key="TestPluginFail_UInt16" value="-32768"/>
    <add key="TestPluginFail_UInt32" value="-1"/>
    <add key="TestPluginFail_UInt64" value="-2"/>
    <add key="TestPluginFail_EnumerableStringList" value="a,b,"/>

  </appSettings>

</configuration>